    layout {
        gaps 16 // Gap between windows
        center-focused-column "never" // Don’t auto-center focused column

        background-color "transparent" // <- needed for noctalia-shell to set wallpaper

        preset-column-widths {
            proportion 0.1
            proportion 0.2
            proportion 0.3
            proportion 0.4
            proportion 0.5
            proportion 0.6
            proportion 0.7
            proportion 0.8
            proportion 0.9
            proportion 1.0
        }

        preset-window-heights {
            proportion 0.1
            proportion 0.2
            proportion 0.3
            proportion 0.4
            proportion 0.5
            proportion 0.6
            proportion 0.7
            proportion 0.8
            proportion 0.9
            proportion 1.0
        }

        struts {}
    }
