polkit.addRule(function(action, subject) {
    if (action.id == "org.noctaliaq.dgpu" &&
        subject.isInGroup("wheel") && subject.local && subject.active) {
        return polkit.Result.YES;
    }
});
