<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <action id="org.noctaliaq.dgpu">
    <description>Encender o apagar la dGPU (NoctaliaQ)</description>
    <message>Se requiere autenticacion para cambiar el estado de la dGPU</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/noctaliaq-dgpu</annotate>
  </action>
</policyconfig>
